<h1><%= @album.name %></h1>
<%= link_to "Edit", album_url(@album), method: "patch" %><br/>
<%= button_to "Destroy", album_url(@album), method: "delete" %><br/>
<%= link_to "To #{@album.band.name}", band_url(@album.band) %><br/>
<% @album.albums.try(:each) do |track| %>
  <%= link_to track.name, track_url(track) %><br/>
<% end %>
<%= link_to "Add track", new_album_track(@album) %>
