<h1><%= @album.name %></h1>
<%= link_to "Edit", edit_album_url(@album) %><br/>
<%= button_to "Destroy", album_url(@album), method: "delete" %><br/>
<%= link_to "To #{@album.band.name}", band_url(@album.band) %><br/>
<h2>Tracks</h2>
<% @album.tracks.try(:each) do |track| %>
  <%= link_to track.name, track_url(track) %><br/>
<% end %>
<%= link_to "Add track", new_album_track_url(@album) %>
