<h1><%= @band.name %></h1>
<%= link_to "Edit", edit_band_url(@band) %><br/>
<%= button_to "Destroy", band_url(@band), method: 'delete' %><br/>
<%= link_to "To all bands", bands_url %><br/>
<h2>Albums</h2>
<% @band.albums.try(:each) do |album| %>
  <%= link_to album.name, album_url(album) %><br/>
<% end %>
<%= link_to "Add album", new_band_album_url(@band) %>
